*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(225, 220, 213);
}

.content img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-top: 8px;
}

.content{
    gap: 3px;
    border-top: 2px saddlebrown;
    border-bottom: 2px solid saddlebrown;
}

.content h3{
    text-align: center;
    font-size: 35px;
    padding: 3px;
    background-color: rgb(234, 196, 146);
    color: rgb(102, 56, 78);
}

.content h4{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 12px;
    color: rgb(102, 56, 78);
    margin-bottom: 3px;
}

.detail{
    padding: 15px;
    margin: 20px;
}

.ingredients{
    padding-bottom: 20px;
}

@media(min-width:550px) {
    .content{
        gap: 3px;
        border: 2px solid saddlebrown;
        height: 300px;
        display: grid;
        grid-template-areas: 
            "heading heading"
            "foodimg detail";
        grid-template-columns: 250px 1fr;
        overflow-x: hidden;
        overflow-y: scroll;
        margin: 15px;
        border-radius: 15px;
    }



    .content img{
        max-width: 250px;
        height: 300px;
        top: 0;
        object-fit: cover;
        overflow-x: hidden;
        margin-top: 10px;
        margin-left: 10px;
    }

    .detail{
        grid-area: detail;
        margin: 0 0 0 20px;
        padding-top: 5px;

    }

    .foodimg{
        grid-area: foodimg;
    }

    .heading{
        grid-area: heading;
    }

    .content h4{
        padding: 0;
        margin: 0;
    }

    .ingredients{
        padding-bottom: 5px;
    }

    .recipe{
        gap: 4px;
        display: flex;
        flex-direction: column;
    }
}

