*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 4%, rgba(135, 43, 62, 1) 79%);
}

/*default for mobile*/
    .main_container{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        background-image: url("../images/background.avif");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;        
        align-items: center;
        height: 95vh;
        width: 95vw;
    }

    .cards{
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 300px;
        border: 2px solid rgb(164, 76, 118);
        margin: 7px;
        border-radius: 5px;
        background-color: rgb(198, 235, 228);
        transition: transform 0.3s ease;
    }

    .cards:hover{
        transform: scale(1.07);
    }

    .images{
        width: 100%;
        height: 50%;
        display: block;
        border-radius: 9px 9px 0 0;
        border-bottom: 2px solid rgb(181, 116, 116);
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
        padding: 2px;
        margin: 4px;
    }

    .content h3{
        color: rgb(133, 87, 26);
    }

    .content p{
        padding: 2px;
    }

    .content a{
        text-decoration: none;
        padding-top: 4px;
    }

    .content a:hover{
        text-decoration: dotted;
        color: rgb(112, 16, 16);
        transform: scale(1.3);
    }


/*@media (max-width: 750px) {
    .main_container{
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .cards{
        width: 250px;
        height: 500px;
        margin: 10px;
        padding: 2px;
        display: flex;
    }
}*/

@media (min-width: 900px){
    .main_container{
        background: #020024;
        background-image: url("../images/background.avif");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: solid black 2px;
        height: 95vh;
        width: 70vw;
        border-radius: 5%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        }

        .cards{
        background-color: rgb(198, 235, 228);
        height: 300px;
        width: 230px;
        border-radius: 10px;
        border: 4px solid rgb(164, 76, 118);
        transition: transform 0.3s ease;

        }

        .cards:hover{
        transform: scale(1.08);
        }

        .images{
        width: 100%;
        height: 150px;
        display: block;  
        object-fit: cover;
        border-radius: 9px 9px 0 0;
        border-bottom: 4px solid rgb(181, 116, 116);
        }


    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding: 6px;
    }

    .content h3{
        color: rgb(133, 87, 26);
    }

    .content p{
        height: 70px;
    }

    .content a{
        text-decoration: none;
        color: #020024;
        padding-top: 10px;
        transition: transform 0.3s ease;
    }

    .content a :hover{
        text-decoration: dotted;
        color: rgb(112, 16, 16);
        transform: scale(1.3);
    }
}

/*
@media (min-width: 790px) and (max-width: 900px){

    .main_container{
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .cards{
        width: 500px;
        height: 300px;
        margin: 10px;
        display: flex;
    }

    .images{
        border-radius: 5px 0 0 5px;
        height: 100%;
        width: 200px;
    }

}*/

