*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 4%, rgba(135, 43, 62, 1) 79%);
}

.maincontainer{
    height: 99vh;
    width: 95vw;
    background-image: url("../images/background.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px; 
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(84, 70, 70);
    width: 95vw;
    height: 100px;
    border-radius: 5px; 
    padding: 10px;
    
}

nav h2{
    align-self: center;
    padding: 8px;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    align-self: self-end;
    gap: 4px;
    width: 170px;
}

.links a{
    color: aliceblue;
    text-decoration: none;
    border: 2px solid rgb(164, 76, 118);
    padding: 1px;
}

.types{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.type2{
    display: flex;
    font-size: 0.8rem;
}

.cards{
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 240px;
    border: 2px solid rgb(164, 76, 118);
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(180, 198, 195);
}

.content h3{
        padding: 20px;
        color: rgb(164, 76, 118);
        font-size: 2rem;
        text-align: center;
    }

.images{
    width: 100%;
    height: 50%;
    display: block;
    object-fit: cover;
    border-radius: 9px 9px 0 0;
    border-bottom: 2px solid rgb(181, 116, 116);
}

.content a{
    text-align: center;
    text-decoration: none;
}

@media (min-width: 500px) and (max-width: 927px) {
    .maincontainer{
        height: 99vh;
        width: 95vw;
        background-image: url("../images/background.avif");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px; 
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        overflow-x: hidden;
        overflow-y: scroll;
        align-items: center;
    }

    .cards{
        height: 150px;
        width: 450px;
        display: flex;
        flex-direction: row;
    }

    .images{
        width: 50%;
        height: 100%;
        border-radius: 9px 9px 0 0;
        object-fit: cover; /*prevent stretching*/
        border-bottom: 2px solid rgb(181, 116, 116);
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 20px;
        line-height: 35px;
    }

    .button{
        padding-bottom: 8px;
        padding-left: 8px;
    }

    

    .button4{
        padding-left: 15px;
    }

    nav h2{
        align-self: center;
        padding: 30px;
        font-size: 40px;
    }

    .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.3rem;
        align-self: self-end;
        gap: 4px;
        width: 240px;
        padding-right: 10px;
    }

    .links a{
    color: aliceblue;
    text-decoration: none;
    border: 2px solid rgb(164, 76, 118);
    padding: 0 3px 0 3px;
    }

    .type2{
        display: flex;
        font-size: 1.3rem;
    }

    .types a{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 927px) {
    .maincontainer{
        border: solid black 2px;
        max-height: 95vh;
        width: 80vw;
        background-image: url("../images/background.avif");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px; 
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        overflow: hidden;
        align-items: center;
    }

    .scontainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 50px;

    }

    .cards{
        display: flex;
        flex-direction: column;
        height: 270px;
        width: 230px;
        border: 2px solid rgb(164, 76, 118);
        margin: 10px;
        border-radius: 5px;
        background-color: rgb(180, 198, 195);
    }

    .navbar{
        display: none;
    }

    
}